# /etc/apparmor.d/usr.sbin.nginx
#include <tunables/global>

/usr/sbin/nginx {
  # Allow execution
  /usr/sbin/nginx mr,

  # Read configs
  /etc/nginx/** r,

  # Serve web content
  /var/www/** r,

  # Logging
  /var/log/nginx/** rw,
  /dev/log w,

  # PID files
  /run/nginx.pid rw,

  # Needed for basic operation
  capability net_bind_service,
  capability setgid,
  capability setuid,
  capability chown,

  # Allow NGINX to spawn worker processes
  /usr/sbin/nginx ix,

  # Deny everything else
  deny /** mrwklx,
}
